# **1. What are data structures, and why are they important?**
>> Data structure are used to store tha data in organised way.It make easy to access the day data and manipulate the data. Data structure are list,tuple,set,dictionary.
>>
>> Important:
>>

>> 1.In this all data found in one memory block.
>> 2. In this accessibilty make manipulate the data very easy.

# **2.Explain the difference between mutable and immutable data types with examples?**
>> Mutable data types: In this data type any object is created and we can change/modifying the date.
>>1.In this many operation can be done
>>
>>2. In this value of the object can be changed.
>>
>> 3.list,set,dictionary are the example of the mutable datatypes.
>>
>>Imutable data type: In this data type any object and value can't be changed after it creation.
>> 1.In this no operation can be done.
>>
>> 2.In this value of the object can't be changed.
>>
>> 3.tuple,string,integer are the example of imutable datatype.

# **3.What are the main differences between lists and tuples in Python?**
>> The main difference between **list** and **tuple** is the list is mutable data type where tuple is imutable data type.
>>
>> In list data store temporary because it main purpose is the update or modify the data.
>>
>>In tuple data store is permanently because it main purpose is store the permanent and never update.

# **4. Describe how dictionaries store data?**
>> Dictionaries is the data structure that store the data in key value pairs.Keys are unique .It is mutable in nature.

# **5.Why might you use a set instead of a list in Python?**
>> List is the ordered pair of elements.It gives the duplicate items from the list where set is unordered pair of elements.It gives the unique element from the set.It does not give the duplicate elements.This the main purpose set is used for the instead of a list.

# **6.What is a string in Python, and how is it different from a list?**
>> **String:** It is the sequence of character enclosed with quotes.It is always written the double or triple quotes.
>>
>>> How is differ :
>> string is the data type and written in the quotes Where List is the data structure that store the data in oraganised manner and make easy to access and manipulate it. It always written in square bracket.It is mutable.

# **7.How do tuples ensure data integrity in Python?**
>>> Tuple is the ordered pair of element .It is imutable.It can store the data permanently no update can be happend. By this following reason we can say that in tuple no object/data value can't be changed it is found same .That'why tuple ensure data intergrity in python.

# **8. What is a hash table, and how does it relate to dictionaries in python ?**
>> **Hash table** A hash table is a data structure that stores key–value pairs and uses a hash function to quickly map a key to a location (index) in memory where its value is stored.
>>
>> It relate to dictonary because it also store the in key value pair.
>> Key must be hashable(Immutable)
>> value can be changed.

# **9.Can lists contain different data types in Python?**
>> list can be stored the heterogenous data.In list all type of data can be store.Data can be integer,string,bool,float,complex.

# **10. Explain why strings are immutable in Python?**
>> String is immutable data type . When a string is created no update and no change can be done.
>> String is used in many data structure so one value can be changed it disturb the whole data structure that's why srting is immutable.

# **11.What advantages do dictionaries offer over lists for certain tasks?**
>> Dictionary is the data structure that store the data in key value pairs.
>>
>> Dictonary is offer many advantages than list.
>>
>> 1. All the element can be accessed using keys.
>> 2. All the element can be accessed by values.
>> 3. No need  remember the index.
>> 4. All the accessing can be done by keys.
>> 5. It store the data like table column.

# **12.Describe a scenario where using a tuple would be preferable over a list?**
>> Tuple is store the data permanently and no updata or change can be done.It is immutable data type

>>> Tuple is better by following reason.
>>
>> Data should not change – Coordinates represent a fixed point; using a tuple prevents accidental modification.

Hashable – Tuples (if they only contain immutable items) can be used as dictionary keys or set elements

Slight performance advantage – Tuples are a bit faster to access and smaller in memory than lists, which can matter in large datasets.

# **13.How do sets handle duplicate values in Python?**
>> Set is a unordered pair of elements.It can't follow any order in set elements. It gives the uique elements/Items from the sets. It does not gives duplicate elements.Python gives implicit function sets to handle the duplicate value.

# **14.How does the “in” keyword work differently for lists and dictionaries?**
>> In List we check the elements in the value eg "Rahul" in list1 where

>> In dictonary we check the key in the dict. eg "Name" in dict1.

# **15.Can you modify the elements of a tuple? Explain why or why not?**
>> NO Tuple cannot be modify.Because tuple is a immutable data type .When we created object in tuple we can't be change or modify the tuple.It is used to store the data permantely.In our government portal tuple data structure is used.

**16. What is a nested dictionary, and give an example of its use case?**
>>A nested dictionary in Python is a dictionary where one or more values are themselves dictionaries.
It’s used to store data in a hierarchical or multi-level structure.
>> It is used in databases
>> It is show the configration of complex problem.

# **17. Describe the time complexity of accessing elements in a dictionary?**
>> Complexity of accessing element in a dictionary is average 0(1).

# **18.In what situations are lists preferred over dictionaries?**
>> List is ordered pairs of elements. It is follow the indexing.

>> **List is preffered over dictionaries by following reason.**
>>1. when order is matter.
>>2. When we use indexing only.
>>3. when we required sequential data.

# **19.Why are dictionaries considered unordered, and how does that affect data retrieval?**

Dictionaries are considered unordered because historically (before Python 3.7) they did not guarantee that items would be stored or iterated in the same order you inserted them.

Why unordered
A dictionary is implemented as a hash table, and keys are stored based on their hash value, not their insertion position.

Hashing scatters items across memory to allow O(1) average-time access.

This means the internal storage order could change:

when you insert new items

when the dictionary resizes

depending on hash function behavior

# **20.Explain the difference between a list and a dictionary in terms of data retrieval.**
The main difference between a list and a dictionary in terms of data retrieval comes down to how you access elements and how fast it is.

List → Access by position (index)

You must know the integer index of the element.

Dictionary → Access by key

You retrieve the value using a descriptive, hashable key (e.g., string, number, tuple).

**Practical Questions**

In [2]:
# 1. Write a code to create a string with your name and print it?
name="Umesh Yadav"
print(name)

Umesh Yadav

In [3]:
#2. Write a code to find the length of the string "Hello World".
a="Hello World"
print(len(a))

11

In [4]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"
a="Python Programming"
print(a[0:3])

Pyt

In [5]:
#4.Write a code to convert the string "hello" to uppercase.
a="hello"
print(a.upper())

HELLO

In [6]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
a="apple"
print(a.replace("apple","orange"))
#

orange

In [7]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
a=[1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [8]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].
a=[1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [9]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
a=[1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [11]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
a=['a','b','c','d']
print(a[1])

b

In [12]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
a=[10,20,30,40,50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

In [13]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
a=[10,20,30,40,50]
print(a[::-1])

[50, 40, 30, 20, 10]

In [14]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it.
a=(100,200,300)
print(a)

(100, 200, 300)

In [16]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
a=('red','green','blue','yellow')
print(a[-2::+1])

('blue', 'yellow')

In [29]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
a=(10,20,5,15)
min_number=min(a)
print("Minimum number in the tuple",min_number)

Minimum number in the tuple 5

In [22]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
a=('dog','cat','rabbit')
print(a.index('cat'))

1

In [30]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
a= ("Apple","Litchi","kiwi")
if "kiwi" in a :
  print("The fruit is found in the tuple")
else:
  print("The fruit is not found")

The fruit is found in the tuple

In [31]:
#16Write a code to create a set with the elements 'a', 'b', 'c' and print it.
a={'a','b','c'}
print(a)

{'c', 'b', 'a'}

In [32]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
a={1,2,3,4,5}
a.clear()
print(a)

set()

In [33]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
a={1,2,3,4}
a.remove(4)
print(a)

{1, 2, 3}

In [35]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a={1,2,3}
b={3,4,5}
print(a.union(b))
#print(a|b)

{1, 2, 3, 4, 5}

In [36]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a={1,2,3}
b={2,3,4}
print(a.intersection(b))
#print(a&b)

{2, 3}

In [39]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
a={"Name":"Umesh","Age":21,"City":"Bhiwani"}
print(a)

{'Name': 'Umesh', 'Age': 21, 'City': 'Bhiwani'}

In [40]:
# 22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
a["Country"]="USA"
print(a)

{'Name': 'Umesh', 'Age': 21, 'City': 'Bhiwani', 'Country': 'USA'}

In [43]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
b=a["Name"]
print(b)

Umesh

In [45]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
a.pop("Age")

21

In [46]:
print(a)

{'Name': 'Umesh', 'City': 'Bhiwani', 'Country': 'USA'}

In [47]:
#25.. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
if "City"in a:
  print("The city is found")
else:
  print("The city is not found")

The city is found

In [48]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.
a={"Name":"Umesh","Age":21,"City":"Bhiwani"}
b=[1,1,33,"Ram",3+5j]
c=("rohan",22,63.22,"komal")
print(a)
print(b)
print(c)

{'Name': 'Umesh', 'Age': 21, 'City': 'Bhiwani'}
[1, 1, 33, 'Ram', (3+5j)]
('rohan', 22, 63.22, 'komal')

In [55]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).
a=[10,80,13,5,31]
a.sort()
print(a)

[5, 10, 13, 31, 80]

In [54]:
# 2nd method
import random

# Create a list of 5 random numbers between 1 and 100
numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
numbers.sort()

# Output
print("Sorted list:", numbers)

Sorted list: [19, 46, 59, 72, 81]

In [56]:
#28.Write a code to create a list with strings and print the element at the third index.
a=["apple","mango","banana","Grapes"]
print(a[2])

banana

In [58]:
#29 Write a code to combine two dictionaries into one and print the result.
a={"Name":"Umesh","Age":21,"City":"Bhiwani"}
b={"Address":"Vpo dinod","Contact_No.":258624}
c=a|b
print("Combination of two dic",c)

Combination of two dic {'Name': 'Umesh', 'Age': 21, 'City': 'Bhiwani', 'Address': 'Vpo dinod', 'Contact_No.': 258624}

In [59]:
#30 Write a code to convert a list of strings into a set.
a=["Hello","456","412"]
b=set(a)
print(b)

{'Hello', '456', '412'}